form label {
    font-weight: bold;
}

body {
    font-family: "arial,helvetica";
    font-size: 12px;
}

input, textarea {
    width: 60%;
    box-sizing: border-box;
    font-family: "arial,helvetica";
    font-size: 12px;
}